{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Task List{% endblock %}</title>
</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1 class="text-center">Task List</h1>
        </header>
        <div class="row">
            <nav class="col-md-3">
                {% include "tasks/includes/sidebar.html" %}
            </nav>
            <main class="col-md-9">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
