{% extends 'base.html' %}

{% block content %}
<h2>Tag List</h2>
<a href="{% url 'tasks:tag_create' %}" class="btn btn-primary mb-3">Add New Tag</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tag Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td>
                    <a href="{% url "tasks:tag_update" tag.pk %}" class="btn btn-warning btn-sm">Update</a>
                    <a href="{% url "tasks:tag_delete" tag.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
